# Dependencies
node_modules/
Backend/node_modules/
Frontend/node_modules/

# Environment files
.env
Backend/.env
Frontend/.env

# Logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Runtime
coverage/